[submodule "formulas/ceilometer"]
	path = formulas/ceilometer
	url = https://github.com/salt-formulas/salt-formula-ceilometer
[submodule "formulas/cinder"]
	path = formulas/cinder
	url = https://github.com/salt-formulas/salt-formula-cinder
[submodule "formulas/foreman"]
	path = formulas/foreman
	url = https://github.com/salt-formulas/salt-formula-foreman
[submodule "formulas/freeipa"]
	path = formulas/freeipa
	url = https://github.com/salt-formulas/salt-formula-freeipa
[submodule "formulas/git"]
	path = formulas/git
	url = https://github.com/salt-formulas/salt-formula-git
[submodule "formulas/glance"]
	path = formulas/glance
	url = https://github.com/salt-formulas/salt-formula-glance
[submodule "formulas/glusterfs"]
	path = formulas/glusterfs
	url = https://github.com/salt-formulas/salt-formula-glusterfs
[submodule "formulas/heat"]
	path = formulas/heat
	url = https://github.com/salt-formulas/salt-formula-heat
[submodule "formulas/horizon"]
	path = formulas/horizon
	url = https://github.com/salt-formulas/salt-formula-horizon
[submodule "formulas/iptables"]
	path = formulas/iptables
	url = https://github.com/salt-formulas/salt-formula-iptables
[submodule "formulas/keepalived"]
	path = formulas/keepalived
	url = https://github.com/salt-formulas/salt-formula-keepalived
[submodule "formulas/keystone"]
	path = formulas/keystone
	url = https://github.com/salt-formulas/salt-formula-keystone
[submodule "formulas/letsencrypt"]
	path = formulas/letsencrypt
	url = https://github.com/salt-formulas/salt-formula-letsencrypt
[submodule "formulas/linux"]
	path = formulas/linux
	url = https://github.com/salt-formulas/salt-formula-linux
[submodule "formulas/maas"]
	path = formulas/maas
	url = https://github.com/salt-formulas/salt-formula-maas
[submodule "formulas/memcached"]
	path = formulas/memcached
	url = https://github.com/salt-formulas/salt-formula-memcached
[submodule "formulas/midonet"]
	path = formulas/midonet
	url = https://github.com/salt-formulas/salt-formula-midonet
[submodule "formulas/neutron"]
	path = formulas/neutron
	url = https://github.com/salt-formulas/salt-formula-neutron
[submodule "formulas/nova"]
	path = formulas/nova
	url = https://github.com/salt-formulas/salt-formula-nova
[submodule "formulas/ntp"]
	path = formulas/ntp
	url = https://github.com/salt-formulas/salt-formula-ntp
[submodule "formulas/opencontrail"]
	path = formulas/opencontrail
	url = https://github.com/salt-formulas/salt-formula-opencontrail
[submodule "formulas/openssh"]
	path = formulas/openssh
	url = https://github.com/salt-formulas/salt-formula-openssh
[submodule "formulas/reclass"]
	path = formulas/reclass
	url = https://github.com/salt-formulas/salt-formula-reclass
[submodule "formulas/salt"]
	path = formulas/salt
	url = https://github.com/salt-formulas/salt-formula-salt
[submodule "formulas/swift"]
	path = formulas/swift
	url = https://github.com/salt-formulas/salt-formula-swift
[submodule "formulas/home-assistant"]
	path = formulas/home-assistant
	url = https://github.com/salt-formulas/salt-formula-home-assistant
[submodule "formulas/mosquitto"]
	path = formulas/mosquitto
	url = https://github.com/salt-formulas/salt-formula-mosquitto
[submodule "formulas/ffmpeg"]
	path = formulas/ffmpeg
	url = https://github.com/salt-formulas/salt-formula-ffmpeg
[submodule "formulas/kodi"]
	path = formulas/kodi
	url = https://github.com/salt-formulas/salt-formula-kodi
[submodule "formulas/octoprint"]
	path = formulas/octoprint
	url = https://github.com/salt-formulas/salt-formula-octoprint
[submodule "formulas/python"]
	path = formulas/python
	url = https://github.com/salt-formulas/salt-formula-python
[submodule "formulas/nginx"]
	path = formulas/nginx
	url = https://github.com/salt-formulas/salt-formula-nginx
[submodule "formulas/apache"]
	path = formulas/apache
	url = https://github.com/salt-formulas/salt-formula-apache
[submodule "formulas/haproxy"]
	path = formulas/haproxy
	url = https://github.com/salt-formulas/salt-formula-haproxy
[submodule "formulas/sphinx"]
	path = formulas/sphinx
	url = https://github.com/salt-formulas/salt-formula-sphinx
[submodule "formulas/supervisor"]
	path = formulas/supervisor
	url = https://github.com/salt-formulas/salt-formula-supervisor
[submodule "formulas/bind"]
	path = formulas/bind
	url = https://github.com/salt-formulas/salt-formula-bind
[submodule "formulas/dovecot"]
	path = formulas/dovecot
	url = https://github.com/salt-formulas/salt-formula-dovecot
[submodule "formulas/elasticsearch"]
	path = formulas/elasticsearch
	url = https://github.com/salt-formulas/salt-formula-elasticsearch
[submodule "formulas/galera"]
	path = formulas/galera
	url = https://github.com/salt-formulas/salt-formula-galera
[submodule "formulas/mysql"]
	path = formulas/mysql
	url = https://github.com/salt-formulas/salt-formula-mysql
[submodule "formulas/mongodb"]
	path = formulas/mongodb
	url = https://github.com/salt-formulas/salt-formula-mongodb
[submodule "formulas/postfix"]
	path = formulas/postfix
	url = https://github.com/salt-formulas/salt-formula-postfix
[submodule "formulas/postgresql"]
	path = formulas/postgresql
	url = https://github.com/salt-formulas/salt-formula-postgresql
[submodule "formulas/redis"]
	path = formulas/redis
	url = https://github.com/salt-formulas/salt-formula-redis
[submodule "formulas/varnish"]
	path = formulas/varnish
	url = https://github.com/salt-formulas/salt-formula-varnish
[submodule "formulas/java"]
	path = formulas/java
	url = https://github.com/salt-formulas/salt-formula-java
[submodule "formulas/php"]
	path = formulas/php
	url = https://github.com/salt-formulas/salt-formula-php
[submodule "formulas/nodejs"]
	path = formulas/nodejs
	url = https://github.com/salt-formulas/salt-formula-nodejs
[submodule "formulas/ruby"]
	path = formulas/ruby
	url = https://github.com/salt-formulas/salt-formula-ruby
[submodule "formulas/collectd"]
	path = formulas/collectd
	url = https://github.com/salt-formulas/salt-formula-collectd
[submodule "formulas/heka"]
	path = formulas/heka
	url = https://github.com/salt-formulas/salt-formula-heka
[submodule "formulas/graphite"]
	path = formulas/graphite
	url = https://github.com/salt-formulas/salt-formula-graphite
[submodule "formulas/kibana"]
	path = formulas/kibana
	url = https://github.com/salt-formulas/salt-formula-kibana
[submodule "formulas/grafana"]
	path = formulas/grafana
	url = https://github.com/salt-formulas/salt-formula-grafana
[submodule "formulas/influxdb"]
	path = formulas/influxdb
	url = https://github.com/salt-formulas/salt-formula-influxdb
[submodule "formulas/sensu"]
	path = formulas/sensu
	url = https://github.com/salt-formulas/salt-formula-sensu
[submodule "formulas/statsd"]
	path = formulas/statsd
	url = https://github.com/salt-formulas/salt-formula-statsd
[submodule "formulas/aptly"]
	path = formulas/aptly
	url = https://github.com/salt-formulas/salt-formula-aptly
[submodule "formulas/gerrit"]
	path = formulas/gerrit
	url = https://github.com/salt-formulas/salt-formula-gerrit
[submodule "formulas/gitlab"]
	path = formulas/gitlab
	url = https://github.com/salt-formulas/salt-formula-gitlab
[submodule "formulas/jenkins"]
	path = formulas/jenkins
	url = https://github.com/salt-formulas/salt-formula-jenkins
[submodule "formulas/owncloud"]
	path = formulas/owncloud
	url = https://github.com/salt-formulas/salt-formula-owncloud
[submodule "formulas/roundcube"]
	path = formulas/roundcube
	url = https://github.com/salt-formulas/salt-formula-roundcube
[submodule "formulas/nagios"]
	path = formulas/nagios
	url = https://github.com/salt-formulas/salt-formula-nagios
[submodule "formulas/aodh"]
	path = formulas/aodh
	url = https://github.com/salt-formulas/salt-formula-aodh
[submodule "formulas/magnum"]
	path = formulas/magnum
	url = https://github.com/salt-formulas/salt-formula-magnum
[submodule "formulas/murano"]
	path = formulas/murano
	url = https://github.com/salt-formulas/salt-formula-murano
[submodule "formulas/artifactory"]
	path = formulas/artifactory
	url = https://github.com/salt-formulas/salt-formula-artifactory
[submodule "formulas/backupninja"]
	path = formulas/backupninja
	url = https://github.com/salt-formulas/salt-formula-backupninja
[submodule "formulas/billometer"]
	path = formulas/billometer
	url = https://github.com/salt-formulas/salt-formula-billometer
[submodule "formulas/bird"]
	path = formulas/bird
	url = https://github.com/salt-formulas/salt-formula-bird
[submodule "formulas/cadf"]
	path = formulas/cadf
	url = https://github.com/salt-formulas/salt-formula-cadf
[submodule "formulas/calico"]
	path = formulas/calico
	url = https://github.com/salt-formulas/salt-formula-calico
[submodule "formulas/cassandra"]
	path = formulas/cassandra
	url = https://github.com/salt-formulas/salt-formula-cassandra
[submodule "formulas/ccp"]
	path = formulas/ccp
	url = https://github.com/salt-formulas/salt-formula-ccp
[submodule "formulas/ceph"]
	path = formulas/ceph
	url = https://github.com/salt-formulas/salt-formula-ceph
[submodule "formulas/chrony"]
	path = formulas/chrony
	url = https://github.com/salt-formulas/salt-formula-chrony
[submodule "formulas/dekapod"]
	path = formulas/dekapod
	url = https://github.com/salt-formulas/salt-formula-dekapod
[submodule "formulas/docker"]
	path = formulas/docker
	url = https://github.com/salt-formulas/salt-formula-docker
[submodule "formulas/etcd"]
	path = formulas/etcd
	url = https://github.com/salt-formulas/salt-formula-etcd
[submodule "formulas/isc-dhcp"]
	path = formulas/isc-dhcp
	url = https://github.com/salt-formulas/salt-formula-isc-dhcp
[submodule "formulas/kedb"]
	path = formulas/kedb
	url = https://github.com/salt-formulas/salt-formula-kedb
[submodule "formulas/kubernetes"]
	path = formulas/kubernetes
	url = https://github.com/salt-formulas/salt-formula-kubernetes
[submodule "formulas/libvirt"]
	path = formulas/libvirt
	url = https://github.com/salt-formulas/salt-formula-libvirt
[submodule "formulas/logrotate"]
	path = formulas/logrotate
	url = https://github.com/salt-formulas/salt-formula-logrotate
[submodule "formulas/network"]
	path = formulas/network
	url = https://github.com/salt-formulas/salt-formula-network
[submodule "formulas/nfs"]
	path = formulas/nfs
	url = https://github.com/salt-formulas/salt-formula-nfs
[submodule "formulas/openvpn"]
	path = formulas/openvpn
	url = https://github.com/salt-formulas/salt-formula-openvpn
[submodule "formulas/openvstorage"]
	path = formulas/openvstorage
	url = https://github.com/salt-formulas/salt-formula-openvstorage
[submodule "formulas/pritunl"]
	path = formulas/pritunl
	url = https://github.com/salt-formulas/salt-formula-pritunl
[submodule "formulas/rabbitmq"]
	path = formulas/rabbitmq
	url = https://github.com/salt-formulas/salt-formula-rabbitmq
[submodule "formulas/rsync"]
	path = formulas/rsync
	url = https://github.com/salt-formulas/salt-formula-rsync
[submodule "formulas/rsyslog"]
	path = formulas/rsyslog
	url = https://github.com/salt-formulas/salt-formula-rsyslog
[submodule "formulas/sahara"]
	path = formulas/sahara
	url = https://github.com/salt-formulas/salt-formula-sahara
[submodule "formulas/taiga"]
	path = formulas/taiga
	url = https://github.com/salt-formulas/salt-formula-taiga
[submodule "formulas/zookeeper"]
	path = formulas/zookeeper
	url = https://github.com/salt-formulas/salt-formula-zookeeper
[submodule "formulas/gateone"]
	path = formulas/gateone
	url = https://github.com/salt-formulas/salt-formula-gateone
[submodule "formulas/leonardo"]
	path = formulas/leonardo
	url = https://github.com/salt-formulas/salt-formula-leonardo
[submodule "formulas/wordpress"]
	path = formulas/wordpress
	url = https://github.com/salt-formulas/salt-formula-wordpress
[submodule "formulas/moodle"]
	path = formulas/moodle
	url = https://github.com/salt-formulas/salt-formula-moodle
[submodule "formulas/suitecrm"]
	path = formulas/suitecrm
	url = https://github.com/salt-formulas/salt-formula-suitecrm
[submodule "formulas/mayan"]
	path = formulas/mayan
	url = https://github.com/salt-formulas/salt-formula-mayan
[submodule "formulas/openode"]
	path = formulas/openode
	url = https://github.com/salt-formulas/salt-formula-openode
[submodule "formulas/redmine"]
	path = formulas/redmine
	url = https://github.com/salt-formulas/salt-formula-redmine
[submodule "formulas/gource"]
	path = formulas/gource
	url = https://github.com/salt-formulas/salt-formula-gource
[submodule "formulas/flower"]
	path = formulas/flower
	url = https://github.com/salt-formulas/salt-formula-flower
[submodule "formulas/virtualbox"]
	path = formulas/virtualbox
	url = https://github.com/salt-formulas/salt-formula-virtualbox
[submodule "formulas/sentry"]
	path = formulas/sentry
	url = git@github.com:salt-formulas/salt-formula-sentry.git
[submodule "formulas/vagrant"]
	path = formulas/vagrant
	url = git@github.com:salt-formulas/salt-formula-vagrant.git
[submodule "formulas/packer"]
	path = formulas/packer
	url = git@github.com:salt-formulas/salt-formula-packer.git
[submodule "formulas/tempest"]
	path = formulas/tempest
	url = git@github.com:salt-formulas/salt-formula-tempest.git
[submodule "formulas/rally"]
	path = formulas/rally
	url = git@github.com:salt-formulas/salt-formula-rally.git
[submodule "formulas/tftpd-hpa"]
	path = formulas/tftpd-hpa
	url = git@github.com:salt-formulas/salt-formula-tftpd-hpa.git
[submodule "formulas/jupyter"]
	path = formulas/jupyter
	url = git@github.com:salt-formulas/salt-formula-jupyter.git
[submodule "formulas/designate"]
	path = formulas/designate
	url = https://github.com/salt-formulas/salt-formula-designate
[submodule "formulas/avinetworks"]
	path = formulas/avinetworks
	url = git@github.com:salt-formulas/salt-formula-avinetworks.git
[submodule "formulas/aptcacher"]
	path = formulas/aptcacher
	url = https://github.com/salt-formulas/salt-formula-aptcacher
