{% raw %}
{%- load_yaml as base_defaults %}
{% endraw %}
Debian:
  pkgs:
  - {{cookiecutter.service_name}}
{% raw %}
{%- endload %}

{%-{% endraw %} set {{cookiecutter.role_name}} = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('{{cookiecutter.service_name}}:{{cookiecutter.role_name}}')) {% raw %}%}{% endraw %}
