parameters:
  public_net_id: name of external network
  instance_image: image for OpenStack instances, must correspond with os_distribution
  config_image: image for Salt master node, currently only Ubuntu 14.04 supported
  key_value: paste your SSH key here
  salt_source: salt-master installation source, options: pkg/pip, default: pkg
  salt_version: salt-master version, options: latest/specific, default: latest
  formula_source: salt formulas source, options: git/pkg, default: git
  formula_path: path to formulas, default: /usr/share/salt-formulas
  formula_branch: formulas git branch, default: master
  reclass_address: reclass git repository, default: https://github.com/tcpcloud/openstack-salt-model.git
  reclass_branch: reclass git branch, default: master
  os_version: OpenStack release version, options: kilo, default: kilo
  os_distribution: OpenStack nodes distribution, options: ubuntu, redhat, debian, default: ubuntu
  os_networking: OpenStack networking engine, options: opencontrail, neutron, default: opencontrail
  os_deployment: OpenStack architecture, options: single/cluster, default: single
  config_hostname: salt-master hostname, default: config
  config_domain: salt-master domain, default: openstack.local
  config_address: salt-master internal IP address, default: 10.10.10.200

