Source: salt-formula-{{cookiecutter.service_name}}
Maintainer: {{cookiecutter.author_name}} {{cookiecutter.author_contact}}
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: {{cookiecutter.homepage}}
Vcs-Browser: https://github.com/salt-formulas/salt-formula-{{cookiecutter.service_name}}
Vcs-Git: https://github.com/salt-formulas/salt-formula-{{cookiecutter.service_name}}.git

Package: salt-formula-{{cookiecutter.service_name}}
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: {{cookiecutter.service_name}} salt formula
 Install and configure {{cookiecutter.service_name}} system.
